.series {
    display: flex;
    justify-content: center;
    max-width: 1174px;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.series_card {
    width: 190px;
    height: 36px;
    padding: 5px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    border: 1px solid rgba(53, 104, 117, 1);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 6px 0px rgba(38, 46, 43, 0.15);
    border: 1px solid rgba(0, 0, 0, 1);
    cursor: pointer;
}

.series_card p {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: rgba(34, 34, 34, 1);
}

@media screen and (max-width: 1024px) {
    .series {
        max-width: 964px;
        width: 100%;
    }

    .series_card {
        width: 176px;
    }
}

@media screen and (max-width: 360px) {
    .series {
        max-width: 320px;
        width: 100%;
        gap: 20px;
    }

    .series_card {
        width: 138px;
    }

    .series_card p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        text-align: center;
        color: rgba(34, 34, 34, 1);
    }

}